<div class="flex items-center gap-1">
  {% if block.settings.icon %}
    <span class="icon"> </span>
  {% endif %}
  <div class="item-text">
    {{ block.settings.item_text }}
  </div>
</div>

{% schema %}
{
  "name": "List Item",
  "class": "list-item",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "item_text",
      "label": "Item Text",
      "default": "Sample Item"
    }
  ],
  "presets": [
    {
      "name": "List Item"
    }
  ]
}
{% endschema %}
