<div class="grid cols-4">
  {% for item in blog.articles %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Blog Loop",
  "class": "blog-loop",
  "settings": [],
  "presets": [
    {
      "name": "Blog Loop"
    }
  ]
}
{% endschema %}
