<div class="grid cols-4 no-template-areas">
  {% paginate blog.articles by 8 %}
    {% for article in blog.articles %}
      {% render 'custom-blog-card', article: article %}
    {% endfor %}
    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog Loop",
  "class": "blog-loop",
  "settings": [],
  "presets": [
    {
      "name": "Blog Loop"
    }
  ]
}
{% endschema %}
