<div class="grid cols-4">
  {% paginate blog.articles by 8 %}
    {% render 'custom-blog-card', article: article %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog Loop",
  "class": "blog-loop",
  "settings": [],
  "presets": [
    {
      "name": "Blog Loop"
    }
  ]
}
{% endschema %}
