{% assign products = all_products %}

<div class="grid cols-4">
  {% for product in products limit: 4 %}
    <div class="col">
      {{-
        product.featured_image
        | image_url: width: 500
        | image_tag: loading: 'lazy', decoding: 'async', draggable: false
      -}}
      <h3>{{ product.title }}</h3>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Compare Protain",
  "class": "compare-protain",
  "settings": [],
  "presets": [
    {
      "name": "Compare Protain"
    }
  ]
}
{% endschema %}
