{% assign products = collections.all.products %}

<div class="grid cols-4">
  {% for product in products limit: 4 %}
    <div class="col"></div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Compare Protain",
  "class": "compare-protain",
  "settings": [],
  "presets": [
    {
      "name": "Compare Protain"
    }
  ]
}
{% endschema %}
