{% liquid
  assign all_products = collections.all.products
  assign current_id = product.id
%}

<div class="grid cols-4">
  {% for product in all_products limit: 4 %}
    <div class="col">
      {{-
        product.featured_image
        | image_url: width: 500
        | image_tag: loading: 'lazy', decoding: 'async', draggable: false
      -}}
      {% content_for 'block', type: 'review', id: '{{product.id}}', closest.product: product %}
      <h3>{{ product.title }}</h3>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Compare Protain",
  "class": "compare-protain",
  "settings": [],
  "presets": [
    {
      "name": "Compare Protain"
    }
  ]
}
{% endschema %}
