<div class="flex items-center">
  <div class="img"></div>
  <div class="texts">
    <p class="quote"></p>
    <p class="content"></p>

    <div class="flex">
      <p class="name"></p>
      <p class="position"></p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Doctor Item",
  "class": "doctor-item",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "quote",
      "label": "Qoute"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "text",
      "id": "position",
      "label": "Position"
    }
  ],
  "presets": [
    {
      "name": "doctor item"
    }
  ]
}
{% endschema %}
