{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div class="embla cols-1">
  <div class="embla__viewport">
    <div class="embla__container">
      {% for item in children %}
        <div class="embla__slide">
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Doctors Carousel",
  "class": "doctors-carousel",
  "blocks": [
    {
      "type": "doctor_item"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Doctors Carousel"
    }
  ]
}
{% endschema %}
