{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div class="embla cols-1">
  <div class="embla__viewport">
    <div class="embla__container"></div>
  </div>
</div>

{% schema %}
{
  "name": "Doctors Carousel",
  "class": "doctors-carousel",
  "blocks": [],
  "settings": []
}
{% endschema %}
