{{ 'embla-styles.css' | asset_url | stylesheet_tag }}

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div class="embla cols-1 paginated">
  <div class="embla__viewport">
    <div class="embla__container">
      {% for item in children %}
        <div class="embla__slide">
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="embla__controls">
    <button class="embla__button embla__button--prev">
      {{ 'chevron-left.svg' | inline_asset_content }}
    </button>
    <div class="embla__selected-snap-display"></div>
    <button class="embla__button embla__button--next">
      {{ 'chevron-right.svg' | inline_asset_content }}
    </button>
  </div>
</div>

{% render 'embla-scripts' %}

{% schema %}
{
  "name": "Doctors Carousel",
  "class": "doctors-carousel",
  "blocks": [
    {
      "type": "doctor_item"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Doctors Carousel"
    }
  ]
}
{% endschema %}
