{% assign block_settings = block.settings %}

<div class="grid cols-{{ block_settings.columns}}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "faqs",
  "class": "faqs",
  "blocks": [
    {
      "type": "_accordion-row"
    }
  ],
  "settings": [
    {
      "type": "number",
      "id": "columns",
      "label": "Columns",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}
