{% stylesheet %}
{% endstylesheet %}

<div class="flex items-center"></div>

{% schema %}
{
  "name": "Footer Google Review",
  "class": "footer-google-review",
  "settings": [
    {
      "type": "image_picker",
      "id": "google_review_img",
      "label": "Google Review Image"
    },
    {
      "type": "text",
      "id": "review_text",
      "label": "Review Text"
    },
    {
      "type": "text",
      "id": "rating",
      "label": "Rating"
    }
  ],
  "presets": [
    {
      "name": "Footer Google Review"
    }
  ]
}
{% endschema %}
