{% stylesheet %}
  .free-shipping-badge {
    padding: 7px 27px;
    background-color: #c92531;
    color: white;
  }
{% endstylesheet %}

<div class="flex">
  <div class="icon">
    {{ 'delivery-truck.svg' | inline_asset_content }}
  </div>
  <div class="text">Free Shipping</div>
</div>

{% schema %}
{
  "name": "Free Shipping Badge",
  "class": "free-shipping-badge hide",
  "settings": [],
  "presets": [
    {
      "name": "Free Shipping Badge"
    }
  ]
}
{% endschema %}
