{% stylesheet %}
{% endstylesheet %}

<div class="flex">
  <div class="icon"></div>
  <div class="text">Free Shipping</div>
</div>

{% schema %}
{
  "name": "Free Shipping Badge",
  "class": "free-shipping-badge hide",
  "settings": [],
  "presets": [
    {
      "name": "Free Shipping Badge"
    }
  ]
}
{% endschema %}
