<div class="flex items-center">
  {%- content_for 'blocks' -%}
</div>

{% schema %}
{
  "name": "icon list",
  "class": "icon-list",
  "settings": [
    {
      "type": "range",
      "id": "gap",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "icon"
    }
  ],
  "presets": [
    {
      "name": "icon list"
    }
  ]
}
{% endschema %}
