{% stylesheet %}
{% endstylesheet %}

<div class="flex embla cols-2-half">
  <div class="left"></div>
  <div class="right">
    <div class="embla__viewport">
      <div class="embla__container convert-list">
        {% content_for 'blocks' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingredients",
  "class": "key-ingredients",
  "blocks": [
    {
      "type": "ingredient-item"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Ingredients"
    }
  ]
}
{% endschema %}
