{% liquid
  assign block_settings = block.settings
%}

{%- capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div class="grid cols-{{ block_settings.columns }}">
  {% for block in block_settings.blocks %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Item List",
  "class": "item-list",
  "blocks": [
    {
      "type": "_list_item"
    }
  ],
  "settings": [
    {
      "type": "number",
      "id": "columns",
      "label": "Columns",
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Item List"
    }
  ]
}
{% endschema %}
