<div></div>

{% schema %}
{
  "name": "Item List",
  "class": "item-list",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "number",
      "id": "columns",
      "label": "Columns",
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Item List"
    }
  ]
}
{% endschema %}
