{% stylesheet %}
  .maximum-per-order .icon {
    width: 33px;
  }

  .maximum-per-order h3 {
    font-weight: bold;
    font-size: 18px;
  }

  .maximum-per-order p {
    font-size: 14;
  }
{% endstylesheet %}

<div class="flex">
  <div class="icon">
    {{ 'exclamation-circle.svg' | inline_asset_content }}
  </div>
  <div class="texts">
    <h3>{{ block.settings.first_Text }}</h3>
    <p>{{ block.settings.last_text }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Maximum per order",
  "class": "maximum-per-order",
  "settings": [
    {
      "type": "text",
      "id": "first_Text",
      "label": "First Text"
    },
    {
      "type": "text",
      "id": "last_text",
      "label": "Last Text"
    }
  ],
  "presets": [
    {
      "name": "Maximum per order"
    }
  ]
}
{% endschema %}
