{% assign product_list = product.metafields.custom.detail_list %}

{{ product_list }}

<ul class="metafield-single_line_text_field-array">
  {% for item in product_list %}
    <li class="metafield-single_line_text_field">{{ item }}</li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Product list Details",
  "class": "product-list-details",
  "settings": [],
  "presets": [
    {
      "name": "Product list Details"
    }
  ]
}
{% endschema %}
