<ul class="metafield-single_line_text_field-array">
  <li class="metafield-single_line_text_field">No Artificial Sweeteners</li>
  <li class="metafield-single_line_text_field">No Artificial Coloring</li>
  <li class="metafield-single_line_text_field">Gluten-Free and Non-GMO</li>
  <li class="metafield-single_line_text_field">No Artificial Preservatives</li>
</ul>

{% schema %}
{
  "name": "Product list Details",
  "class": "product-list-details",
  "settings": [],
  "presets": [
    {
      "name": "Product list Details"
    }
  ]
}
{% endschema %}
