<div class="flex items-center">
  <span class="stars"></span>
  <span class="verified"></span>
  <span class="text">Verified Purchase</span>
</div>

{% schema %}
{
  "name": "review item verified",
  "class": "review-item-verified",
  "settings": [],
  "presets": [
    {
      "name": "review item verified"
    }
  ]
}
{% endschema %}
