{% stylesheet %}
{% endstylesheet %}

<div class="flex">
  <div class="img"></div>
  <div class="prod-content"></div>
</div>

{% schema %}
{
  "name": "review product",
  "class": "review-product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ]
}
{% endschema %}
