{% stylesheet %}
{% endstylesheet %}

<div class="flex">
  <div class="img">
    {{-
      block.settings.image
      | image_url: width: block.settings.image.width
      | image_tag: loading: 'lazy', decoding: 'async', draggable: false
    -}}
  </div>
  <div class="prod-content"></div>
</div>

{% schema %}
{
  "name": "review product",
  "class": "review-product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ]
}
{% endschema %}
