<div class="flex items-center justify-center">
  {{-
    settings.img_1
    | image_url: width: settings.img_1.width
    | image_tag: loading: 'lazy', decoding: 'async', draggable: false
  -}}
  <span class="hero-rev-text">{{ settings.text }}</span>
</div>

{% schema %}
{
  "name": "Reviews Hero",
  "class": "reviews-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "img_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "img_2",
      "label": "Image 2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Reviews Hero"
    }
  ]
}
{% endschema %}
