<div class="flex items-center justify-center"></div>

{% schema %}
{
  "name": "Reviews Hero",
  "class": "reviews-hero",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "100 reviews"
    }
  ]
}
{% endschema %}
