{% stylesheet %}
{% endstylesheet %}

<div class="flex">
  <div class="img">
    {{- block.settings.img | image_url: width: 300 | image_tag: loading: 'lazy', decoding: 'async', draggable: false -}}
  </div>
  <div class="details"></div>
</div>

{% schema %}
{
  "name": "Starter Kit",
  "class": "starter-kit",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Tex"
    }
  ]
}
{% endschema %}
