<div class="flex items-center">
  <div class="rating flex items-center">
    <span class="icon">
      {{ 'google-icon.svg' | inline_asset_content }}
    </span>
  </div>
</div>

{% schema %}
{
  "name": "testimonials header count",
  "class": "testimonials-header-count",
  "settings": [
    {
      "type": "text",
      "id": "rating",
      "label": "Rating",
      "default": "4.9"
    },
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text"
    },
    {
      "type": "text",
      "id": "bottom_Text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "testimonials header count"
    }
  ]
}
{% endschema %}
