{% stylesheet %}
  .testimonials-header-count .rating-number {
    color: black;
    font-size: 42px;
    font-weight: 500;
  }

  .testimonials-header-count .top-text {
    color: black;
    font-weight: 600;
    margin: 0;
  }

  .testimonials-header-count .bottom-text {
  }
{% endstylesheet %}

<div class="flex items-center">
  <div class="rating flex items-center">
    <span class="icon">
      {{ 'google-icon.svg' | inline_asset_content }}
    </span>
    <div class="rating-numbers">
      <span class="rating-number">{{ block.settings.rating }}</span>
      <span class="max-rating">/ 5</span>
    </div>
  </div>
  <div class="flex vertical">
    <p class="top-text">{{ block.settings.top_text }}</p>
    <p class="bottom-text">{{ block.settings.bottom_text }}</p>
  </div>
</div>

{% schema %}
{
  "name": "testimonials header count",
  "class": "testimonials-header-count",
  "settings": [
    {
      "type": "text",
      "id": "rating",
      "label": "Rating",
      "default": "4.9"
    },
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text"
    },
    {
      "type": "text",
      "id": "bottom_Text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "testimonials header count"
    }
  ]
}
{% endschema %}
