{% stylesheet %}
{% endstylesheet %}

<div></div>

{% schema %}
{
  "name": "Text with icon",
  "class": "text-with-icon",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
