{% liquid
  assign first_blog = blog.articles.first
  assign other_blogs = blog.articles
%}

<div class="flex">
  <div class="big-article">
    {{-
      first_blog.image
      | image_url: width: first_blog.image.width, height: 300
      | image_tag: loading: 'lazy', decoding: 'async', draggable: false
    -}}
  </div>
  <div class="other-articles"></div>
</div>

{% schema %}
{
  "name": "Top Blog",
  "class": "top-block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Top blog"
    }
  ]
}
{% endschema %}
