{% liquid
  assign first_blog = blog.articles.first
  assign other_blogs = blog.articles
%}

<div class="flex">
  <div class="big-article">
    {{-
      first_blog.image
      | image_url: width: first_blog.image.width, height: 300
      | image_tag: loading: 'lazy', decoding: 'async', draggable: false
    -}}
  </div>
  <div class="other-articles">
    {% for item in other_blogs limit: 2 offset: 1 %}
      <div class="flex">
        <div class="img">
          {{-
            item.image
            | image_url: width: first_blog.image.width, height: 150
            | image_tag: loading: 'lazy', decoding: 'async', draggable: false
          -}}
        </div>
        <div class="content"></div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Top Blog",
  "class": "top-block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Second Title"
    }
  ],
  "presets": [
    {
      "name": "Top blog"
    }
  ]
}
{% endschema %}
