{% schema %}
{
  "name": "Below Hero",
  "class": "below-hero",
  "settings": [
    {
      "type": "richtext",
      "id": "text_1",
      "label": "Text 1",
      "default": "<p></p>"
    }
  ],
  "presets": [
    {
      "name": "Below Hero"
    }
  ]
}
{% endschema %}
