/*basic*/
.flex {
    display: flex;
}

.no-template-areas {
    grid-template-areas: unset;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}


.flex-wrap {
    flex-wrap: wrap;
}

.menu__item .menu-item-icon img {
    width: 12px;
}

.wrapper-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid {
    gap: 20px;
}

.mb-4 {
    margin-bottom: 40px;
}

.justify-between {
    justify-content: space-between;
}

.contained {
    max-width: 1440px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.shrink-0 {
    flex-shrink: 0;
}

.items-center {
    align-items: center;
}

.horizontal,
.menu--horizontal {
    flex-direction: row;
}

.vertical,
.menu--vertical {
    flex-direction: column;
}

.menu__list>li {
    margin: 0 !important;
    margin-block-start: 0 !important;
}

/*basic end*/

/*buttons*/
.scheme-d6f4d37e-1daf-4474-9eea-4205c1043995 {
    --color-primary-button-background: rgb(201 37 49 / 1.0);
}

[ref="addToCartButton"],
.button {
    justify-content: center;
}

.button-secondary {
    border-radius: 50px;
}

.button,
.button-secondary,
.link {
    display: flex;
    align-items: center;
    justify-self: center;
    column-gap: 12px;
    font-weight: bold;
}

.link:has(svg) .text {
    border-bottom: 1px solid;
}

.scheme-d6f4d37e-1daf-4474-9eea-4205c1043995.button {
    color: white;
}

a.scheme-c1264752-e427-4ad2-bebb-75b2869e16d7 {
    color: #1B73B3;
}



/**/

/*announcement*/
.announcement-bar .menu__list>li {
    line-height: 1;
}

.announcement-bar .menu__list a {
    font-weight: bold !important;
    font-size: 14px;
}

.dividers>*:not(:last-child) {
    border-right: 1px solid var(--color-foreground);
    padding-right: var(--gap-md);
}

.utilities a {
    color: var(--color-foreground) !important
}

/*announcement end*/

/*hero*/

.hero-vertical-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #000000 20%, #00000000 50%);
}

.hero--overlay .hero__media-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, #00000000);
}

.hero__container .text-block {
    font-weight: 600;
}

/*hero end*/

/*product card*/
[ref="resourceListCarousel"] .product-card__content {
    background-color: #FBFBFB;
}

[ref="productTitleLink"] * {
    color: black !important
}

.product-card__content .buy-buttons-block {
    padding-left: 50px;
    padding-right: 50px;
}

.product-card__content .rating svg {
    --star-fill-color: #0D4064;
}

.product-card__content [ref="priceContainer"] .price {
    font-size: 28px !important;
    color: black !important
}

.product-card__content>*:last-child {
    padding-bottom: 28px;
}

.compare-at-price {
    text-decoration-color: #EA4335;
}

.variant-picker__form label {
    font-weight: bold;
    color: #2A2A2A;
}

/*product card end*/

/*bg img*/

.shopify-section:has(img.section-bg-image) {
    position: relative;
}

.shopify-section .contained {
    position: relative;
    z-index: 1;
}

.section-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*bg img end*/

/*text*/

.reviews-title p {
    font-size: 28px;
    font-weight: 600;
    color: #2A2A2A !important;
}

.reviews-title p strong {
    font-size: 32px;
    font-weight: 700;
}

.strong-line-red strong {
    border-bottom: 2px solid #C92531;
}

.strong-line-blue strong {
    border-bottom: 2px solid #1B73B3;
}

/*text end*/

/*shadows*/
.review-card {
    box-shadow: 0px 4px 15px 0px #84848426;
}

slideshow-slides:has(.review-card) {
    padding-bottom: 4px;
}

/*shadows end*/

/* dividers */
.divider-vertical .divider__line {
    min-height: unset;
    min-width: 100%;
}


/* dividers end*/


/*footer*/
.newsletter-footer .email-signup__button {
    border: 1px solid;
}

/*footer end*/

/*collection*/
.collection-testimonial .reviews-title *,
.collection-testimonial .testimonials-header-count * {
    color: white !important
}

/*collection*/

/*blogs at the end*/
.start-learning-gray .blog-card__content {
    background-color: white;
}

@media only screen and (min-width: 1025px) {
    .hide-d {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {

    .hide-t {
        display: none;
    }

    .tablet-logo img {
        max-width: 250px;
    }

    .contained {
        padding-right: 20px;
        padding-left: 20px;
    }

    .grid-t {
        display: grid;
    }

    .cols-2-t {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex-col-t,
    .flex-col-t .mobile-column,
    .flex-col-t .layout-panel-flex.layout-panel-flex--row.group-block-content {
        flex-direction: column;
    }

    .flex-col-t .mobile-column>* {
        width: 100%;
    }

    .testimonials-header .layout-panel-flex,
    .testimonials-header .layout-panel-flex .spacing-style {
        align-items: center;
    }

    .footer-content,
    .utilities {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .testimonials-header .layout-panel-flex .spacing-style {
        width: unset;
    }

    .testimonials-header .reviews-title p {
        text-align: center;
    }
}


@media only screen and (max-width: 767px) {
    .cols-1-m {
        grid-template-columns: repeat(1, 1fr);
    }
}