/*basic*/
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.contained {
    max-width: 1440px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.items-center {
    align-items: center;
}

.horizontal,
.menu--horizontal {
    flex-direction: row;
}

.vertical,
.menu--vertical {
    flex-direction: column;
}

.menu__list>li {
    margin: 0 !important;
    margin-block-start: 0 !important;
}

/*basic end*/

/*buttons*/
.scheme-d6f4d37e-1daf-4474-9eea-4205c1043995 {
    --color-primary-button-background: rgb(201 37 49 / 1.0);
}



.button,
.link {
    display: flex;
    align-items: center;
    justify-self: center;
    column-gap: 12px;
    font-weight: bold;
}

.link:has(svg) .text {
    border-bottom: 1px solid;
}

.scheme-d6f4d37e-1daf-4474-9eea-4205c1043995.button {
    color: white;
}

a.scheme-c1264752-e427-4ad2-bebb-75b2869e16d7 {}

/**/

/*announcement*/
.announcement-bar .menu__list>li {
    line-height: 1;
}

.announcement-bar .menu__list a {
    font-weight: bold !important;
    font-size: 14px;
}

.dividers>*:not(:last-child) {
    border-right: 1px solid black;
    padding-right: var(--gap-md);
}

/*announcement end*/

/*hero*/

.hero--overlay .hero__media-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000000, #00000000);
}

.hero__container .text-block {
    font-weight: 600;
}

/*hero end*/