.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.horizontal,
.menu--horizontal {
    flex-direction: row;
}

.vertical,
.menu--vertical {
    flex-direction: column;
}

.menu__list>li {
    margin: 0;
}