.breadcrumbs {
    padding: 0 !important;
}

.breadcrumbs>*:not(:first-child) {
    font-weight: 600;
}

.breadcrumb-delimeter {
    color: #1B73B3;
}

.metafield-single_line_text_field-array {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 !important;
    list-style: none;
}

.bs-radio-circle {
    background-color: #B3FFC8;
}