.breadcrumbs {
    padding: 0 !important;
}

.breadcrumbs>*:not(:first-child) {
    font-weight: 600;
}

.breadcrumb-delimeter {
    color: #1B73B3;
}

.metafield-single_line_text_field-array {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 !important;
    list-style: none;
}

.metafield-single_line_text_field-array li {
    display: flex;
    gap: 12px;
    font-weight: bold;
    font-size: 14px;
    color: black
}

.metafield-single_line_text_field-array li:before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('cdn/shop/t/4/assets/green-check.svg');
}